.form {
  position: relative;

  .input {
    margin-top: 50px;
  }

  .button {
    margin: 100px 0;
    text-align: center;
  }

  .flowers {
    position: absolute;
    top: -10px;
    text-decoration: underline;
    cursor: pointer;
  }
}
