.socials {
  margin: 4px;
  margin-right: 32px;
  padding: 4px;

  span {
    display: inline-block;
    margin: 4px;
    font-size: 18px;
  }

  hr {
    width: 100px;
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-top: 16px;
      margin-bottom: 8px;

      a {
        padding: 8px;
        border-radius: 15px;
        font-size: 20px;

        &:hover {
          background-color: rgba(midnightblue, 0.8);
        }

        &[aria-disabled] {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
  }

  &:target {
    box-shadow: 0 0 10px white;
  }
}
