@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif/Kollektif.ttf');
}

@font-face {
  font-family: 'Kollektif';
  font-weight: bold;
  src: url('/fonts/Kollektif/Kollektif-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Montserrat/Montserrat-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/Montserrat/Montserrat-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

p {
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
