@use '../components/Card/Card.module.scss';
$pad: 32px;

.container {
  padding: 0 $pad;
  display: grid;
  grid-template-columns: 1fr minmax(0, calc(Card.$width * 5 + Card.$gap * 4)) 1fr;

  .main {
    grid-column: 2;

    .create {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  @media only screen and (max-width: calc(Card.$width + $pad * 2)) {
    padding: 0;
  }
}
